<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Temukan keberagaman masakan nusanatar di Janji Nusantara.">
    <meta name="theme-color" content="#a0ff57"/>
    <link rel="manifest" href="./app.webmanifest">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="icon" href="./favicon.png">
    <link rel="apple-touch-icon" href="/icons/icon-192x192.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Restaurant Application - EAT</title>
    <style>
      /* @media screen and (max-width: 600px) {
        .hero {
          background-image: url(hero-image_3-small.jpg);
        }
      }

      @media screen and (min-width: 601px) {
        .hero {
          background-image: url(hero-image_3-large.jpg);
        }
      } */
    </style>
  </head>
  <body>

    <a href="#content" class="skip-link">Skip to Content</a>

    <!--Navigation Bar-->
    <header class="app-bar">
      <div class="app-bar__menu">
        <button id="hamburgerButton">☰</button>
      </div>
      <div class="app-bar__brand">
        <h1>EAT</h1>
      </div>
      <nav id="navigationDrawer" class="app-bar__navigation">
        <ul style="list-style: none;">
          <li><a href="/">Home</a></li>
          <li><a href="#/favorite">Favorite</a></li>
          <li><a target="_blank" href="https://www.instagram.com/mlikmth/" rel="no-referrer">About Us</a></li>
        </ul>
      </nav>
    </header>
    <!--End Navigation Bar-->
    
    <!--Jumbotron Element-->
    <div class="hero">
      <div class="hero-brand">
        <h1 class="hero-title">Find your favoirte Indonesian Food in here!</h1>
        <p class="hero-desc">from Sabang to Merauke</p>
      </div>
    </div>
    <!--End Jumbotron Element-->
    
    <section id="content" tabindex="0">
      <main id="mainContent"></main>
    </section>
    
    <!--Footer-->
    <footer>
      <p>Copyright © 2023 - EAT</p>
    </footer>
    <!--End Daftar Restoran-->
  </body>
</html>
